bs4==0.0.2
chromadb==0.5.23
langchain==0.3.10
langchain-community==0.3.10
langchain-google-genai==2.0.8
langchain-text-splitters==0.3.2
langchain-experimental==0.3.4
ollama==0.4.4
streamlit==1.40.2
SQLAlchemy==2.0.36
pgvector==0.3.6
psycopg[binary]==3.2.3
python-dotenv=1.0.1